<!-- REQUIRED FIELDS -->
<form (ngSubmit)="submit()" [formGroup]="formGroup" autocomplete="off">
  <!-- Form Card -->
  <div class="row animated-row mt-3">
    <div class="col-12">
      <div class="card no-border mat-elevation-z3">
        <div class="card-body">
          <div class="row">
            <div class="col-12 pb-2">
              <div class="text-center">
                <h4>{{title}}</h4>
                <hr>
              </div>
            </div>
            <div *ngFor="let item of inputs; trackBy: trackBy" [class]="item.col || col">
              <div *ngIf="item.name !== undefined" [ngSwitch]="item.type">
                <!-- TEXT  -->
                <div *ngSwitchCase="types.text">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <input matInput class="form-control" [formControlName]="item.name" [maxlength]="item.maxLength!"
                      [minlength]="item.minLength!" [required]="item.required || true" [type]="item.type">
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'Required' }}
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('pattern')">
                        {{ item.regexErrorMsg }}
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('minlength')">
                        {{ 'El mínimo de caracteres es de ' + item.minLength }}
                      </div>
                      <div
                        *ngIf="item.customValidatorName != null && formGroup.get(item.name)?.getError(item.customValidatorName!)">
                        {{ item.customValidatorMsg! }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- TEXT_NUMBER  -->
                <div *ngSwitchCase="types.textNumber">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <input matInput type="text" [formControlName]="item.name" [required]="item.required || true"
                      appOnlynumber>
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'Required' }}
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('pattern')">
                        {{ item.regexErrorMsg! }}
                      </div>
                      <div
                        *ngIf="item.customValidatorName != null && formGroup.get(item.name)?.getError(item.customValidatorName!)">
                        {{ item.customValidatorMsg! }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- NUMBER -->
                <div *ngSwitchCase="types.number">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <input matInput type="number" [formControlName]="item.name" [required]="item.required || true"
                      appOnlynumber>
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'Required' }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- SELECT -->
                <div *ngSwitchCase="types.select">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <mat-select [formControlName]="item.name" [required]="item.required || true">

                      <mat-option *ngFor="let itemSelect of item.optionItems" [value]="itemSelect.value">{{
                        itemSelect.label
                        }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'messages.MSG1_INPUT' }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- CHECKBOX -->
                <div *ngSwitchCase="types.checkbox">
                  <div class="padding-option">
                    <p class="mat-caption" [class.mat-error]="formGroup.get(item.name)?.invalid && submitted">
                      {{ item.label }} <span *ngIf="(item.required === undefined) || item.required">*</span>
                    </p>
                    <app-ui-checkbox-group [formControlName]="item.name" [options]="item.optionItems!"
                      [required]="item.required || true">
                    </app-ui-checkbox-group>
                    <div *ngIf="formGroup.get(item.name)?.invalid && submitted" @fadeInDown>
                      <div *ngIf="formGroup.get(item.name)?.getError('required')"
                        class="mat-caption mat-error error-option">
                        Required
                      </div>
                    </div>
                  </div>
                </div>

                <!-- RADIO_BUTTON -->
                <div *ngSwitchCase="types.radioButton">
                  <div class="padding-option">
                    <p class="mat-caption" [class.mat-error]="formGroup.get(item.name)?.invalid && submitted">
                      {{ item.label }} <span *ngIf="(item.required === undefined) || item.required">*</span>
                    </p>
                    <mat-radio-group [formControlName]="item.name" class="row" color="primary">
                      <mat-radio-button [value]="option.value" *ngFor="let option of item.optionItems"
                        [class]="option.col || 'col-12'"
                        [class.mat-error]="formGroup.get(item.name)?.invalid && submitted">
                        {{ option.label }}
                      </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="formGroup.get(item.name)?.invalid && submitted && submitted" @fadeInDown>
                      <div *ngIf="formGroup.get(item.name)?.getError('required')"
                        class="mat-caption mat-error error-option">
                        Required
                      </div>
                    </div>
                  </div>
                </div>

                <!-- MONEY -->
                <div *ngSwitchCase="types.money">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <app-ui-money matInput [formControlName]="item.name" [required]="item.required || true"></app-ui-money>

                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'Required' }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- TEXTAREA -->
                <div *ngSwitchCase="types.textarea">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <textarea matInput [formControlName]="item.name" [required]="item.required!"
                      [rows]="item.rows ? item.rows : 3" class="form-control"></textarea>
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        Required
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('maxlength')">
                        {{ 'messages.MSG092' }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- SWITCH -->
                <div *ngSwitchCase="types.switch">
                  <p class="mat-caption">{{ item.label }}</p>
                  <mat-slide-toggle [formControlName]="item.name" class="pt-1" color="primary">
                    {{ (formGroup.get(item.name)!.value ? 'Yes' : 'No') }}
                  </mat-slide-toggle>
                  <div *ngIf="formGroup.get(item.name)?.invalid && submitted" class="alert alert-danger">
                    <div *ngIf="formGroup.get(item.name)?.getError('required')">
                      {{ 'messages.MSG1_INPUT' }}
                    </div>
                  </div>
                </div>

                <!-- DATE -->
                <div *ngSwitchCase="types.date">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <input matInput type="date" [formControlName]="item.name" [required]="item.required || true">
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'Required' }}
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('pattern')">
                        {{ item.regexErrorMsg! }}
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('secondDateBefore')">
                        {{ 'messages.MSG10_END_DATE' }}
                      </div>
                      <div
                        *ngIf="item.customValidatorName != null && formGroup.get(item.name)?.getError(item.customValidatorName!)">
                        {{ item.customValidatorMsg! }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- TIME -->
                <div *ngSwitchCase="types.time">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ item.label }}</mat-label>
                    <input matInput type="time" [formControlName]="item.name" [required]="item.required || true">
                    <mat-error *ngIf="formGroup.get(item.name)?.invalid && submitted">
                      <div *ngIf="formGroup.get(item.name)?.getError('required')">
                        {{ 'Required' }}
                      </div>
                      <div *ngIf="formGroup.get(item.name)?.getError('pattern')">
                        {{ item.regexErrorMsg! }}
                      </div>
                      <div
                        *ngIf="item.customValidatorName != null && formGroup.get(item.name)?.getError(item.customValidatorName!)">
                        {{ item.customValidatorMsg! }}
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="types.hidden">
                  <input [formControlName]="item.name" [type]="item.type">
                </div>

              </div>
              <div *ngIf="item.help != null" class="col-sm-2 col-md-1 col-lg-1 col-xl-1 pt-1">
                <span ata-toggle="tooltip" class="d-inline-block" tabindex="0">
                  <em class="fa fa-question"></em>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- CONTAINER -->
            <ng-content></ng-content>

            <!-- Buttons -->
            <div class="row mt-3 justify-content-center">
              <div class="col-12 text-end">
                <button mat-button *ngIf="showCancel" (click)="cancel()" type="button">
                  {{ cancelLabel }}
                </button>
                <button mat-button color="success" *ngIf="showSubmit" [disabled]="loading" type="submit">
                  {{ submitLabel }}
                  <mat-spinner *ngIf="loading" [diameter]="38" class="loading" color="accent"></mat-spinner>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>