@import "~src/assets/sass/palette";

.loading {
  margin: auto;
  position: absolute;
  top: 0;
  left: 45%;
}
button {
  margin: 15px;
}
.mat-caption {
  padding: 0 0.75rem;
  transition: all 0.2s;
}
.padding-option {
  padding: 0 0.75rem;
}
.error-option {
  margin-top: 0.6666666667em;
}

hr {
  border-top: 2px solid rgba($success, 0.4) !important;
}