<!-- Filter section -->
<div class="col-12">
    <div class="d-flex flex-row-reverse px-3 pt-2 pb-0">
        <div class="col-12 col-sm-8 col-md-4">
            <mat-form-field appearance="outline" class="not-padding" @fadeInDown>
                <mat-label>Filter</mat-label>
                <input matInput #input class="not-padding" (keyup)="search(input.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>
<!-- Table -->
<div class="col-12 mat-elevation-z3">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Custom cotent -->
        <ng-content></ng-content>
        <!-- Default columns -->
        <ng-container *ngFor="let item of  columns" [matColumnDef]="item.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.label}} </th>
            <td mat-cell *matCellDef="let element"> {{ element[item.name] }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
    </mat-paginator>
</div>