<div class="container">
    <div class="row">
        <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
        <div class="col-12">
            <div class="row">
                <div class="col-12 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Button</h4>
                            <hr>
                            <button class="mx-1" mat-button color="primary">Primary</button>
                            <button class="mx-1" mat-button color="accent">Accent</button>
                            <button class="mx-1" mat-button color="warn">Warn</button>
                            <button class="mx-1" mat-button color="success">Success</button>
                            <button class="mx-1" mat-button color="secondary">Secondary</button>
                            <button class="mx-1" mat-button color="info">Info</button>
                            <button class="mx-1" mat-button color="warning">Warning</button>
                            <button class="mx-1" mat-button color="danger">Danger</button>
                        </div>
                    </div>
                </div>                
                <div class="col-12 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Stroked button</h4>
                            <hr>
                            <button class="mx-1" mat-stroked-button color="primary">Primary</button>
                            <button class="mx-1" mat-stroked-button color="accent">Accent</button>
                            <button class="mx-1" mat-stroked-button color="warn">Warn</button>
                            <button class="mx-1" mat-stroked-button color="success">Success</button>
                            <button class="mx-1" mat-stroked-button color="secondary">Secondary</button>
                            <button class="mx-1" mat-stroked-button color="info">Info</button>
                            <button class="mx-1" mat-stroked-button color="warning">Warning</button>
                            <button class="mx-1" mat-stroked-button color="danger">Danger</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Flat button</h4>
                            <hr>
                            <button class="mx-1" mat-flat-button color="primary">Primary</button>
                            <button class="mx-1" mat-flat-button color="accent">Accent</button>
                            <button class="mx-1" mat-flat-button color="warn">Warn</button>
                            <button class="mx-1" mat-flat-button color="success">Success</button>
                            <button class="mx-1" mat-flat-button color="secondary">Secondary</button>
                            <button class="mx-1" mat-flat-button color="info">Info</button>
                            <button class="mx-1" mat-flat-button color="warning">Warning</button>
                            <button class="mx-1" mat-flat-button color="danger">Danger</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Raised button</h4>
                            <hr>
                            <button class="mx-1" mat-raised-button color="primary">Primary</button>
                            <button class="mx-1" mat-raised-button color="accent">Accent</button>
                            <button class="mx-1" mat-raised-button color="warn">Warn</button>
                            <button class="mx-1" mat-raised-button color="success">Success</button>
                            <button class="mx-1" mat-raised-button color="secondary">Secondary</button>
                            <button class="mx-1" mat-raised-button color="info">Info</button>
                            <button class="mx-1" mat-raised-button color="warning">Warning</button>
                            <button class="mx-1" mat-raised-button color="danger">Danger</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>