
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@use './assets/sass/palette.scss' as palette;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-template-primary: mat.define-palette(palette.$md-primary, 500);
$angular-template-accent: mat.define-palette(mat.$amber-palette, 700);
$angular-template-warn: mat.define-palette(mat.$red-palette);

$my-custom-level: mat.define-typography-config(
  $font-family: 'Open Sans',
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-template-theme: mat.define-light-theme((
  color: (
    primary: $angular-template-primary,
    accent: $angular-template-accent,
    warn: $angular-template-warn,
  ),
  typography: $my-custom-level,
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-template-theme);


html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }

.container{
  padding: 20px 2rem;
  margin: 48px auto;
}

/* Override styles */
.breadcrumb-item+.breadcrumb-item::before {
	float: left;
	padding-right: .5rem;
	color: #6c757d;
	content: var(--bs-breadcrumb-divider, "/")
}

.breadcrumb-item.active {
	color: #6c757d
}

/* <hr> */
hr {
  border-top: 2px solid rgba(0,0,0,.1);
}

.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

/* Text align */
.text-center {
  text-align: center!important;
}

.text-end {
  text-align: right!important;
}

/*  Card  */
.card{
  position:relative;
  display:flex;
  flex-direction:column;
  min-width:0;
  word-wrap:break-word;
  background-color:#fff;
  background-clip:border-box;
  border:1px solid rgba(0,0,0,.125);
  border-radius:.25rem
}
.card>hr{
  margin-right:0;
  margin-left:0
}
.card>.list-group{
  border-top:inherit;
  border-bottom:inherit
}
.card>.list-group:first-child{
  border-top-width:0;
  border-top-left-radius:calc(.25rem - 1px);
  border-top-right-radius:calc(.25rem - 1px)
}
.card>.list-group:last-child{
  border-bottom-width:0;
  border-bottom-right-radius:calc(.25rem - 1px);
  border-bottom-left-radius:calc(.25rem - 1px)
}
.card>.card-header+.list-group,.card>.list-group+.card-footer{
  border-top:0
}
.card-body{
  flex:1 1 auto;
  padding:1rem 1rem
}
.card-title{
  margin-bottom:.5rem
}
.card-subtitle{
  margin-top:-.25rem;
  margin-bottom:0
}
.card-text:last-child{
  margin-bottom:0
}
.card-link+.card-link{
  margin-left:1rem
}
.card-header{
  padding:.5rem 1rem;
  margin-bottom:0;
  background-color:rgba(0,0,0,.03);
  border-bottom:1px solid rgba(0,0,0,.125)
}
.card-header:first-child{
  border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
.card-footer{
  padding:.5rem 1rem;
  background-color:rgba(0,0,0,.03);
  border-top:1px solid rgba(0,0,0,.125)
}
.card-footer:last-child{
  border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}
.card-header-tabs{
  margin-right:-.5rem;
  margin-bottom:-.5rem;
  margin-left:-.5rem;
  border-bottom:0
}
.card-header-pills{
  margin-right:-.5rem;
  margin-left:-.5rem
}
.card-img-overlay{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding:1rem;
  border-radius:calc(.25rem - 1px)
}
.card-img,.card-img-bottom,.card-img-top{
  width:100%
}
.card-img,.card-img-top{
  border-top-left-radius:calc(.25rem - 1px);
  border-top-right-radius:calc(.25rem - 1px)
}
.card-img,.card-img-bottom{
  border-bottom-right-radius:calc(.25rem - 1px);
  border-bottom-left-radius:calc(.25rem - 1px)
}
.card-group>.card{
  margin-bottom:.75rem
}
@media (min-width:576px){
  .card-group{
      display:flex;
      flex-flow:row wrap
  }
  .card-group>.card{
      flex:1 0 0%;
      margin-bottom:0
  }
  .card-group>.card+.card{
      margin-left:0;
      border-left:0
  }
  .card-group>.card:not(:last-child){
      border-top-right-radius:0;
      border-bottom-right-radius:0
  }
  .card-group>.card:not(:last-child) .card-header,.card-group>.card:not(:last-child) .card-img-top{
      border-top-right-radius:0
  }
  .card-group>.card:not(:last-child) .card-footer,.card-group>.card:not(:last-child) .card-img-bottom{
      border-bottom-right-radius:0
  }
  .card-group>.card:not(:first-child){
      border-top-left-radius:0;
      border-bottom-left-radius:0
  }
  .card-group>.card:not(:first-child) .card-header,.card-group>.card:not(:first-child) .card-img-top{
      border-top-left-radius:0
  }
  .card-group>.card:not(:first-child) .card-footer,.card-group>.card:not(:first-child) .card-img-bottom{
      border-bottom-left-radius:0
  }
}