// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use "./assets/sass/palette.scss" as palette;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-template-primary: mat.define-palette(palette.$md-primary, 500);
$angular-template-accent: mat.define-palette(mat.$amber-palette, 600);
$angular-template-warn: mat.define-palette(mat.$red-palette);

$my-custom-typography: mat.define-typography-config(
  $font-family: "Open Sans"
);
/*
  $headline-5: mat.define-typography-level(2rem, 1, 600),
  $headline-6: mat.define-typography-level(1.9rem, 1, 600),
  $subtitle-1: mat.define-typography-level(1.7rem, 1, 600),
  $body-1	: mat.define-typography-level(1.4rem, 1, 600),
  $body-2: mat.define-typography-level(0.9rem, 1.4, 500),
  $subtitle-2: mat.define-typography-level(0.9rem, 1.4, 600),
  $button: mat.define-typography-level(0.9rem, 1, 500)
*/

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-template-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-template-primary,
      accent: $angular-template-accent,
      warn: $angular-template-warn,
    ),
    typography: $my-custom-typography,
  )
);

// Custom buttons colors
$custom-colors: mat.define-palette(palette.$custom-colors);
$custom-colors-keys: map-remove(palette.$custom-colors, contrast);
@each $key in map-keys($custom-colors-keys) {
  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    &.mat-#{$key} {
      background-color: map-get($custom-colors, $key);
      color: map-get($custom-colors, contrast, $key);
    }
  }
  .mat-button,
  .mat-stroked-button,
  .mat-icon-button {
    &.mat-#{$key} {
      color: map-get($custom-colors, $key);
    }
  }
  .bd-callout-#{$key} {
    border-left-color: map-get($custom-colors, $key) !important;
  }
  .card-header {
    &.mat-#{$key} {
      background-color: map-get($custom-colors, $key) !important;
      color: map-get($custom-colors, contrast, $key) !important;
    }
  }
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-template-theme);

/////////////////////// COLORS ///////////////////////////////
$primary: palette.$primary;
$secondary: palette.$secondary;
$success: palette.$success;
$info: palette.$info;
$warning: palette.$warning;
$danger: palette.$danger;
$light: palette.$light;
$dark: palette.$dark;

//Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h5 {
  font-size: 1.1rem !important;
}
h6 {
  font-size: 1rem !important;
}

hr {
  padding-bottom: 0.6rem !important;
}

.container {
  @apply px-3;
}

/** OVERRIDE BOOTSTRAP **/
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, "/");
}

.breadcrumb-item.active {
  color: #6c757d;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

/* Text align */
.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right !important;
}

/* bd-callout */
.bd-callout {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.2rem;
  border-radius: 0.25rem;
}

/* Card */
.card {
  border-radius: 40px !important;
  @apply mat-elevation-z3;

  .card-body {
    padding: 1.5rem 2rem;
  }
}

/** OVERRIDE ANGULAR **/
/* Input */
.mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  display: grid !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch { border-right-style: hidden; }

.mat-form-field-subscript-wrapper {
  position: relative !important;
  padding-bottom: 0 !important;
}

/* Checkbox */
.mat-checkbox-layout, .mat-radio-label {
  white-space: normal !important;
}

.mat-checkbox-inner-container {
  margin-left: auto !important;
  margin-top: 4px !important;
  margin-right: 8px !important;
  margin-bottom: auto !important;
}

.mat-radio-container {
  align-self: flex-start;
}


/* Table */
th.mat-header-cell {
  border-bottom: 3px solid $warning !important;
}

table.mat-table {
  padding-right: 10px;
  padding-left: 10px;
}

.mat-row:hover .mat-cell {
  background-color: rgb(0 0 0 / 3%);
}

/** ANIMATIONS **/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-row {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
