<nav *ngIf="breadcrumb !== undefined" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let link of breadcrumb.previous">
          <a (click)="goto(link.fullPath)" mat-button > {{link.name}} </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
          <a mat-button disabled>{{ breadcrumb.name }}</a>
      </li>
  </ol>
</nav>
<div *ngIf="breadcrumb !== undefined" class="col-12">
  <h1 class="text-center pt-3">{{ breadcrumb.name }}</h1>
  <hr class="pb-4">
</div>