$primary: #051e34; /*#007bff #069*/
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$md-primary: (
    50: #e1e4e7,
    100: #b4bcc2,
    200: #828f9a,
    300: #506271,
    400: #2b4052,
    500: #051e34,
    600: #041a2f,
    700: #041627,
    800: #031221,
    900: #010a15,
    A100: #5588ff,
    A200: #2264ff,
    A400: #0047ee,
    A700: #0040d4,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$custom-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    contrast: (        
        secondary: white,
        success: white,
        info: white,
        warning: black,
        danger: white,
    ),
);